<div class="container" style="text-align: center;">
    <h6 >ID Image Front</h6>
    <img class="identity_card" src="../../../assets/img/image_front.PNG" width="500" height="250"/>
    <div>
    <span style="cursor: pointer;" class="material-icons" >zoom_in</span><span style="cursor: pointer;" class="material-icons" >zoom_out</span>
    <span style="cursor: pointer;" class="material-icons" >
        cached
        </span>
    </div>
    <h6 >ID Image Back</h6>
    <img class="identity_card" src="../../../assets/img/image_back.PNG" width="500" height="250"/>
    <div>
        <span class="material-icons" style="cursor: pointer;">zoom_in</span><span class="material-icons" style="cursor: pointer;">zoom_out</span>
        <span class="material-icons" style="cursor: pointer;">
            cached
            </span>
        </div>
    <h6 >Face Photo</h6>
    <div id="line"><hr/></div>
    <br><br>
</div>